# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @BenMayden @cocojamb0 @HiredMussel @matt-horwood-mayden @SMMayden @tdmayden
# will be requested for review when someone opens a pull request.
*       @BenMayden @cocojamb0 @HiredMussel @matt-horwood-mayden @SMMayden @tdmayden
